<div class="content_editor essence_spree_taxon essence_select">
  <%= label_and_remove_link(content) %>
  <%= select_tag(
    content.form_field_name,
    option_groups_from_collection_for_select(
      local_assigns.fetch(:options, {})[:taxons] || Spree::Taxon.all,
      :children,
      :name,
      :id,
      :name,
      content.essence.taxon_id
    ),
    include_blank: true,
    class: ["alchemy_selectbox", "essence_editor_select", html_options[:class]].join(' '),
    style: html_options[:style]
  ) %>
</div>
