<div class="content_editor essence_spree_product essence_select">
  <%= content_label(content) %>
  <%= select_tag(
    content.form_field_name,
    options_from_collection_for_select(
      local_assigns.fetch(:options, {})[:products] || Spree::Product.not_deleted,
      :id,
      :name,
      content.essence.spree_product_id
    ),
    include_blank: t(".none"),
    class: ["alchemy_selectbox", "essence_editor_select", html_options[:class]].join(' '),
    style: html_options[:style]
  ) %>
</div>
